<h1>register form</h1>
<!-- <div class="container">
  <div class="register">
    <div class="container">
  <form action="/action_page.php" (ngSubmit)="registerUser()">
  <small class="danger" style="color:rgba(128, 255, 0, 0.795)" >{{msg}}</small>
      <h4>Sign up</h4><br/>
  
        <div class="form-group">
          <div class="form-group">
            <label for="pwd"> enter username:</label>
            <input type="text" class="form-control" id="pwd" name="username" [(ngModel)]="user.userName" #username="ngModel">
          </div><br/>
          </div>
        <div class="form-group">
          <label for="pwd"> Enter email:</label>
          <input type="text" class="form-control" id="pwd" name="username" [(ngModel)]="user.emailId" #emailId="ngModel" >
        </div><br/>
        <div class="form-group">
          <label for="pwd">setpassword:</label>
          <input type="password" class="form-control" id="pwd" name="setpassword" [(ngModel)]="user.password" #password="ngModel">
        </div><br/>
     
      <!-- <div class="form-group">
        <label for="pwd">confirmpassword:</label>
        <input type="password" class="form-control" id="pwd" name="confirmpassword" [(ngModel)]="user.confirmpassword" #confirmpassword="ngModel">
      </div><br/> -->
      
      <!-- <button type="submit" style="background-color: deeppink;" class="btn btn-default">Signup</button><br/><br/>
      <img [src]="google" alt="" id="google">
      <img [src]="facebook" alt="" id="google">
      <img [src]="linkedin" alt="" id="google">
    </form>
  </div>
  </div>
  </div>
    <router-outlet></router-outlet> --> -->