
<body>
  <!-- <app-root></app-root> -->

  <div class="container">
    <div class="navbar">
      <img [src]="logo" alt="ok" class="logo-logo">&nbsp;
      <h2> NX Editor</h2>
      <nav>
        <ul>
          <li><a href="" class="options">Home</a></li>
          <li><a href="" class="options">Templates</a></li>
          <li><a href="" class="options">FAQ</a></li>
        </ul>
      </nav>
      <button class="try" routerLink="/whiteboard">Try for free</button>
    </div>

    <div class="row">
      <div class="col">
        <h1>WhiteBoard</h1>
        <p>A WhiteBoard that lets you focus on ideas and Get your ideas onto a shared virtual whiteboard for free and you can make your own designs here</p>
          <button routerLink="/signup">signup</button>
          <button routerLink="/login">login</button>
      </div>
      <div class="col">
        
      </div>
    </div>
  </div>
</body>

